*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.travis.yml
.externalNativeBuild
app/src/main/java/tmnt/example/onedaily/ui/turing/activity/
app/src/main/java/tmnt/example/onedaily/ui/turing/presenter/
richeditor/build/generated/assets/
richeditor/build/generated/res/
richeditor/build/generated/source/aidl/
richeditor/build/generated/source/apt/
richeditor/build/generated/source/r/debug/
richeditor/build/generated/source/r/release/
richeditor/build/generated/source/rs/
richeditor/build/intermediates/blame/
richeditor/build/intermediates/bundles/debug/aidl/
richeditor/build/intermediates/bundles/debug/res/
richeditor/build/intermediates/bundles/default/aidl/
richeditor/build/intermediates/bundles/default/jni/
richeditor/build/intermediates/bundles/default/libs/
richeditor/build/intermediates/bundles/default/res/
richeditor/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
richeditor/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
richeditor/build/intermediates/incremental/packageDebugAndroidTest/
richeditor/build/intermediates/incremental/packageDebugResources/merged.dir/
richeditor/build/intermediates/incremental/packageReleaseResources/merged.dir/
richeditor/build/intermediates/incremental/processDebugAndroidTestResources/
richeditor/build/intermediates/incremental/processDebugResources/
richeditor/build/intermediates/incremental/processReleaseResources/
richeditor/build/intermediates/jniLibs/
richeditor/build/intermediates/lint/
richeditor/build/intermediates/manifest/tmp/
richeditor/build/intermediates/res/merged/
richeditor/build/intermediates/rs/
richeditor/build/intermediates/shaders/
richeditor/build/intermediates/symbols/
richeditor/build/intermediates/transforms/
richeditor/build/tmp/
