<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tmnt.example.onedaily">

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize">
        <activity android:name=".ui.main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.douban.activity.BookSearchActivity"></activity>
        <activity android:name=".ui.douban.activity.BookCatalogActivity"></activity>
        <activity android:name=".ui.douban.activity.BookDetailActivity"></activity>
        <activity android:name=".ui.zhihu.activity.ZhihuDetailActivity"></activity>
        <activity android:name=".ui.main.activity.WriteArticleActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustResize"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

</manifest>